.DS_Store
.build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
Berth.xcodeproj/xcuserdata/
Berth.xcodeproj/project.xcworkspace/xcuserdata/
.env
.env.*
!.env.example
Berth.app/
*.swp
*~
